@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Mea+Culpa&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #ed9234;
    --second-color: #624724;
}

html {
    background-color: whitesmoke;
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Define keyframes at the root level */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}