/*
* P.I.T.A - Pantry Inventory Tracking Application
* Dashboard CSS - Styles for the user dashboard page
*/

/* ===== WELCOME CONTAINER ===== */
.welcoming-user-container {
    border: 1px solid red;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--second-color);
}

/* ===== TITLE CONTAINER ===== */
.dashboard-title {
    text-align: center;
    font-size: 30px;
}
/* ===== MAIN CONTAINER ===== */

.dashboard-main-container {
    height: 100vh;
}


.display-storage {
    background-color: white;
    max-width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    border: 1px solid red;
    width: 99%;
}

/* ===== ADD ITEM BTN ===== */

.add-item-btn-container {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.add-item-btn-container .add-item-btn {
        background-color: white;
        border-radius: 8px;
        width: 10%;
    text-align: center;
    border: 1px solid var(--main-color);
}