
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Mea+Culpa&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html {
    background-color: whitesmoke;
    font-family: Roboto, sans-serif;
}

/* Define keyframes at the root level */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.navigation-container {
    border: 1px solid red;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navigation-container-icon img {
    width: 40px;
}

.navigation-container-icon img.rotate {
    animation: spin 4s linear infinite;
}

.navigation-container-links {
    border: 1px solid blue;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    a {
        text-decoration: none;
        color: #ed9234;
        &:hover{
            transform: scale(1.1);
            opacity: 0.5;
            text-decoration: underline;
        }
    }
}

h1 {
    color: red;
}

.img {
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
}

.img img {
    width: 40rem;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Footer */

.footer-container {
    border: 1px solid red;
    text-align: center;
    margin-top: 30vh;
}