h1 {
    color:red;
}

.img {
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
    img {
        width: 40rem;
        border-radius: 100px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }
}