{% extends "layout.html"%}

{% block page_css %}{% endblock %}

{% block content %}
    <h1> Welcome to you AI assistant {{session["name"]}}!</h1>
    <p> In here, you can receives help to generate recipes when you lack inspiration. The goal is to use as much as possible what you have in your pantry in order to reduce waste and consume food in a smart way </p>
    <p> If you need more ingredients, the recipes will be enriched with the former and these will be higlighted so you can know exactly what you need to buy.</p>

    <!-- Select menu to get previous recipes-->
    <!-- Button to go and read the db using the ai to generate and display new recipes-->
{% endblock %}