{% extends "layout.html" %}

{% block page_css %}
<link href="./static/css/contact.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<main class="contact-container">
    <section class="contact-section">
        <h1>Contact Us</h1>
        <!-- Contact form will be added here -->
        <div class="contact-form-main-container">
          <form action="/contact" method="post">
              <label>Enter your name:</label><br>
              <input type="text"/>
              <label>Enter your email:</label>
              <input type="email"/>
              <textarea></textarea>
          </form>
        </div>

    </section>
</main>
{% endblock %}
