{% extends "layout.html"%}

{% block page_css %}
    <link rel="stylesheet" href="./static/css/dashboard.css"/>
{% endblock %}

{% block hello %}
    <div class="welcoming-user-container">Hello {{session["name"]}}</div>
{% endblock %}
{% block content %}
    <div class="dashboard-main-container">
        <section class="display-storage">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Expiration date</th>
                        <th> Action (edit/delete)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Apple </td>
                        <td>Fruit/vegetables </td>
                        <td> Fridge </td> <!-- either fridge or pantry-->
                        <td> 2 </td>
                        <td> -  </td>
                        <td> 30/12/26  </td>
                        <td>
                            <button>delete</button>
                            <button>edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div class="add-item-btn-container">
            <div class="add-item-btn">
                add item
            </div>
        </div>
        <section class="item-card-container" hidden>

        </section>
    </div>
{% endblock %}

