<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/base.css" rel="stylesheet"/>
    <link href="/static/css/layout.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
    {% block page_css %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="/static/icon.ico"/>
    <title>P.I.T.A</title>
</head>
<body>
    <!-- Navigation bar-->
    <nav class="navigation-container">
        <div class="navigation-container-icon">
            <a href="/"><img alt="logo-pantry" class="rotate" src="/static/icon.png"></a>
        </div>
        <div class="navigation-container-links">
            <a href="/">Home</a>
            <a href="/discover">Discover</a>
            {% if session.get("user_id") %}
                <a href="/logout" id="logout-btn-nav"> Logout </a>
            {% else %}
                <a href="/login" id="login-btn-nav">Login</a>
            {% endif %}
            <a href="/contact">Contact</a>
            {% if session.get("user_id") %}
                <a href="/my-assistant">Generate recipes</a>
                <a href="/my-recipies">My recipies</a>
                <a href="/dashboard">Dashboard</a>
            {% endif %}
        </div>
    </nav>
    <!-- Main content-->
    {% block hello %}{% endblock %}
    {% block content %} {% endblock %}

    <!-- Footer-->
    <footer class="footer-container">
        <div class="footer-txt"> &copy; Max's CS50 final project - <span id="date">#</span></div>
    </footer>
    <!--Javascript file-->
    <script src="/static/scripts/script.js"></script>
</body>
</html>
