<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./static/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="./static/icon.ico"/>
    <title>P.I.T.A</title>
</head>
<body>
    <!-- Navigation bar-->
    <nav class="navigation-container">

    </nav>
    <!-- Main content-->
    {% block content %} {% endblock %}

    <!-- Footer-->
    <footer class="footer-container">

    </footer>
    <!--Javascript file-->
    <script src="./static/script.js"></script>
</body>
</html>