<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./static/css/base.css" rel="stylesheet"/>
    <link href="./static/css/layout.css" rel="stylesheet"/>
    {% block page_css %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="./static/icon.ico"/>
    <title>P.I.T.A</title>
</head>
<body>
    <!-- Navigation bar-->
    <nav class="navigation-container">
        <div class="navigation-container-icon">
            <a href="/"><img alt="logo-pantry" class="rotate" src="./static/icon.png"></a>
        </div>
        <div class="navigation-container-links">
            <a href="/">Home</a>
            <a href="/discover">Discover</a>
            <a href="/login">Login</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>
    <!-- Main content-->
    {% block content %} {% endblock %}

    <!-- Footer-->
    <footer class="footer-container">
        <div class="footer-txt"> &copy; Max's CS50 final project - <span id="date">#</span></div>
    </footer>
    <!--Javascript file-->
    <script src="./static/script.js"></script>
</body>
</html>
