{% extends "layout.html" %}

{% block content %}

    <div class="login-main-container">
        <div class="login-existing-user">
            <h2> Already have an account ?</h2>
            <form action="/login" method="post">
                <div class="form-email">
                    <label for="email">Email address:</label><br>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-pwd">
                    <label for="pwd">Password:</label><br>
                    <input type="password" id="pwd" name="password" required>
                </div>
                <button type="submit">Sign in</button>
            </form>
        </div>
        <div class="login-registering-user">
            <h2> Still no account ? Please register !</h2>
        </div>
    </div>

{% endblock %}
