{% extends "layout.html" %}

{% block content %}

    <div class="login-main-container">
        <div class="login-existing-user">
            <h2> Already have an account ?</h2>
            <form action="/login" method="post">
                <div class="form-email">
                    <label for="email">Email address:</label><br>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-pwd">
                    <label for="pwd">Password:</label><br>
                    <input type="password" id="pwd" name="password" required>
                </div>
                <button type="submit">Sign in</button>
            </form>
        </div>
        <div class="login-registering-user">
            <h2> Still no account ? Please register !</h2>
            <form action="/register" method="post">
                <div class="register-username">
                    <label for="username">Enter a username for the app:</label><br>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="register-email">
                    <label for="reg-email">Enter an email address:</label><br>
                    <input type="email" required name="reg-email" id="reg-email">
                </div>
                <div class="register-password">
                    <label for="reg-psw">Enter a password:</label><br>
                    <input type="password" id="reg-psw" name="reg-pwd" required>
                </div>
                <div class="register-password-confirm">
                    <label for="reg-psw-cf">Enter a password:</label><br>
                    <input type="password" id="reg-psw-cf" name="reg-pwd-cf" required>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
